body {
  background: #4788b4;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #fafafa;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.main-body {
  display: flex;
  flex-direction: column;
  background-color: #2c6196;
  min-height: 80rem;
}

.inner-body {
  display: flex;
  flex-direction: row;
}

.search-body {
  display: flex;
  flex-direction: column;
  width: 566px;
  height: 170px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #e4e9ed;
  margin-left: 25rem;
  margin-bottom: 0.1rem;
}

.tweet-body:hover {
  background-color: #11171d;
  border: #ffffff;
}

.name {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  margin-top: 19px;
  min-width: 85px;
  height: 17px;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-variant: small-caps;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  color: #ffffff;
}

.handle {
  margin-left: 10px;
  margin-top: 19px;
  min-width: 128px;
  height: 16px;
  font-family: Times;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  color: #000000;
}

.content {
  margin-left: 15px;
  margin-top: 7px;
  width: 445px;
  height: 88px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  color: #000000;
}

.search-box {
  margin-top: 7px;
  width: 200px;
  height: 50px;
  background-color: #e4e9ed;
  margin-left: 3rem;
  color: #000000;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}
